#invite-wrapper {

  width: 50%;
  padding: 25px;
  background-color: rgb(450, 21, 1);
  color: rgb(255, 12. 55);
}

h1 {

  font-family: Arial, sans-serif;
  text-align: center;

}

#invite-text {

  width: 75%;

}

#itinerary {

  text-align: center;
}
